<div class="panel panel-default">
  <div class="panel-heading">Contact Bob</div>
  <div class="panel-body">
    
    <p>If you would like to talk with Bob about a job opportunity, please fill out the following form. </p>
    
    <p><strong>Progress:</strong></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" ng-style="{width: progress()+'%'}">
        <span class="sr-only">{{ progress() }}% Complete</span>
      </div>
    </div>
    
    <div ng-show="state === 'busy'">
      Sending email... <img src="loading.gif" />
    </div>
    <div ng-show="state === 'error'" class="panel-danger">
      Sorry, there was an error submitting this survey. Please notify Bob.
    </div>
    <div ng-show="state === 'ok'" class="panel question" ng-repeat="question in questions" ng-class="{'panel-primary': !question.resuired || question.value === null, 'panel-success': question.required && question.value, 'panel-danger': question.required && question.value === ''}">
      <div class="panel-heading">
        {{ question.text }} {{ question.required ? '*' : '' }}
      </div>
      <div class="panel-body">
        <div ng-if="question.type === 'text'">
          <input type="text" ng-model="question.value">
        </div>
        <div ng-if="question.type === 'skills'">
          <div ng-repeat="tag in tags track by $index">
            <label>
              <input type="checkbox" ng-model="tag.selected" ng-change="selectTag(tag)">
              {{ tag.name }}
            </label>
          </div>
        </div>
        <div ng-if="question.type === 'textarea'">
          <textarea style="width:500px;height:200px;" ng-model="question.value"></textarea>
        </div>
      </div>
    </div>
    
    <div>
      <button class="btn btn-sm btn-default" ng-click="submit()" ng-disabled="progress() !== 100">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Submit
      </button>
    </div>
  </div>
</div>