<div>
  <h1>
	  <a href="#" editable-text="data.title" onaftersave="updateExperience(data)">
      {{ data.title }}
    </a>
	  </h1>
  <h2>
  	<a href="#" editable-text="data.company" onaftersave="updateExperience(data)">
	  	{{ data.company }}
  	</a>
  </h2>
	<a href="#" editable-text="data.start" onaftersave="updateExperience(data)">
  	{{ data.start }}
	</a> - 
	<a href="#" editable-text="data.end" onaftersave="updateExperience(data)">
  	{{ data.end }}
	</a>
	<div ng-show="data.description">
		<a href="#" editable-textarea="data.description" onaftersave="updateExperience(data)" e-style="width:90%; height:200px;">
	  	<span ng-bind-html="getFormattedDescription()"></span>
		</a>
	</div>
  <tags-input 
    ng-model="tagObjects" 
    display-property="text"
    placeholder="Add a tag" 
    on-tag-added="createTag($tag)"
    on-tag-removed="deleteTag($tag)"
    replace-spaces-with-dashes="false"
    template="tag-template"
    ></tags-input>
  <button ng-show="data.description" ng-click="addSelectedTag()">Add Selected Text</button>
  <div>
	  <button ng-click="deleteExperience(data)">Delete Experience</button>
  </div>
</div>