<div>
  <h1>{{ data.Title }}</h1>
  <strong>{{ data['Company Name'] }} {{ data['Start Date'] }} - {{ data['End Date'] }}</strong>
  <ul>
    <li ng-show="data['Description']" style="white-space: pre;">{{ data['Description'] }}</li>
    <li>Gained experience in: <ul>
      <li ng-repeat="exp in data.experience track by $index">{{ exp }} <button ng-click="deleteExperience(exp)">Delete</button></li>
      <li><a href="#" editable-text="newrows.experience" onaftersave="createExperience(newrows.experience)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add another
      </a></li>
      <button ng-show="data['Description']" ng-click="addSelectedExperience()">Add Selected</button>
    </ul></li>
  </ul>
</div>