<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <input type="file" id="csvFile" />
  <button class="btn btn-sm btn-default" ng-click="uploadCSV()">Upload</button>
</div>
<!--
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>
-->
