<div class="panel panel-default">
  <div class="panel-heading">Contact Bob</div>
  <div class="panel-body">
    
    <p>If you would like to talk with Bob about a job opportunity, please fill out the following form. </p>
    
    <p><strong>Progress:</strong></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" ng-style="{width: progress()+'%'}">
        <span class="sr-only">{{ progress() }}% Complete</span>
      </div>
    </div>
    
    <div class="panel"  ng-class="{'panel-primary': answered['themes'] === null, 'panel-success': answered['themes'] === true, 'panel-danger': answered['themes'] === false}">
      <div class="panel-heading">Job categories</div>
      <div class="panel-body">
        <div ng-repeat="theme in themes"><label>
          <input type="checkbox" ng-model="theme.selected" ng-change="selectTheme(theme); answer('themes', themesSelected);">
          {{ theme.name }}
        </label></div>
      </div>
    </div>
    
<!--
    <div class="panel" ng-repeat="question in questions" ng-class="{'panel-primary': question.answered === undefined, 'panel-success': question.answered, 'panel-danger': question.answered === false}">
      <div class="panel-heading">{{ question.text }}</div>
      <div class="panel-body" ng-bind-html="question.trustedHtml"></div>
    </div>
-->

    <div class="panel" ng-class="{'panel-primary': answered['salary'] === null, 'panel-success': answered['salary'], 'panel-danger': answered['salary'] === false}">
      <div class="panel-heading">What is the salary range?</div>
      <div class="panel-body"><span>$</span><input type="number" ng-model="salary" ng-change="answer('salary', salary)" min="1"></input><span> thousand (e.g., $150-200 thousand)</span></div>
    </div>
    
    <div class="panel" ng-class="{'panel-primary': answered['company'] === null, 'panel-success': answered['company'], 'panel-danger': answered['company'] === false}">
      <div class="panel-heading">What is the company?</div>
      <div class="panel-body"><input type="text" ng-model="company" ng-change="answer('company', company)"></div>
    </div>
    
    <div class="panel" ng-class="{'panel-primary': answered['teamSize'] === null, 'panel-success': answered['teamSize'], 'panel-danger': answered['teamSize'] === false}">
      <div class="panel-heading">How many people are on the team?</div>
      <div class="panel-body"><input type="number" ng-model="teamSize" ng-change="answer('teamSize', teamSize)" min="0"></div>
    </div>
    
<!--
    <div>
      <a href="#" editable-text="newquestion.text" onaftersave="createQuestion()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add question
      </a>
    </div>
-->
    
    <div>
      <button class="btn btn-sm" ng-click="submit()" ng-disabled="progress() !== 100">Submit</button>
    </div>
    
<!--     <div class="panel panel-danger">...</div> -->
  </div>
</div>