<div style="display:inline-block;border:1px black solid;border-radius:5px; width:100%;">
  <div style="text-align:center;padding:5px;">
    <input type="text" ng-model="filter" placeholder="Filter items" />
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" style="cursor:pointer;" ng-click="filter = ''"></span>
  </div>
  <span ng-repeat="tag in data | filter:filter" style="display:inline-block;width:70px;vertical-align:bottom;margin:15px;font-size: smaller;">
    <div style="text-overflow:ellipsis;overflow:hidden;">{{ tag.name }}</div>
    <div 
      style="height: {{ tag.count * 15 }}px;background-color: {{ isSelected(tag) ? 'red' : 'blue' }};color:white;text-align:center;vertical-align:bottom;cursor:pointer;"
      ng-click="selectTag(tag)">{{ tag.count }}</div>
  </span>
</div>